
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>© Copyright with Leena Madhok & Abhinav Sharma</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
</div>
</body>
</html>
