<%- include("partials/header") -%>
<h1>About</h1>

<p>
  Cognitive Exam Portal is the efficient way to take the online test or exam .
  As we know in today's world, every thing is converting itself on online mode whether it's shopping or ticket booking.
  Moreover, due to COVID ,many institutes, unviersities, schools, etc. faced a lot of problem to conduct the exam of students.
</p>

<p><%= aboutText %></p>

<%- include("partials/footer") -%>
