<%- include("partials/header") -%>
<h1 class="title">About Us</h1>
<div class="title-text">
  <p>
    Cognitive Exam Portal is the efficient way to take the online test or exam .
    As we know in today's world, every thing is converting itself on online mode whether it's shopping or ticket booking.
    Moreover, due to COVID ,many institutes, unviersities, schools, etc. faced a lot of problem to conduct the exam of students.
  </p>
  <p>
    The main objective of Cognitive Exam Portal is to efficiently evaluate the candidate thoroughly through a fully automated system that not only saves lot of time but also gives fast results. This can be used in educational institutions as well as in corporate world. It can be used anywhere any time as it is a web based application (user location doesn’t matter).
  </p>
  <p>
    No restriction that examiner has to be present when the candidate takes the test. The project is totally built at administrative end and thus only the administrator is guaranteed the access. The purpose of the project is to build an application program to reduce the manual work for managing the bundle of sheets collected after the exams for teachers to check it.
    This project saves the time and effects of both the user and the checker.
  </p>
</div>
<%- include("partials/footer") -%>
