<%- include("partials/header") -%>
<h1 class="title">Contact Us</h1>
<div class="title-text">
  <h3>Feel free to contact us at:-</h3>
  <ul>
    <li><p>Abhinav Sharm :<br>102/19 CSE</p></li>
    <li><p>Leena Madhok :<br>136/19 CSE</p></li>
  </ul>
</div>
<%- include("partials/footer") -%>
