<%- include("partials/header") -%>
<h1 class="title">Exam</h1>

<div class="date-table">
  <!-- table to display dates and subject exam on that particular date
      with the opening link and that link will be active only on exam day. -->
  <table style="width:100%"> 
      <thead>
          <th>
              <tr>
                  <td><b>Date</b></td>
                  <td><b>Subject</b></td>
                  <td><b>link for exam</b></td>
              </tr>
          </th>
      </thead>
      <tr>
        <td>dd/mm/yyyy</td>
        <td>Subject 1</td>
        <td><button type="button" name="button" style="background: red; text-decoration: none;"><a href="/exam/test1">Click here</a></button></td>
      </tr>
      <tr>
        <td>dd/mm/yyyy</td>
        <td>Subject 2</td>
        <td><button type="button" name="button">Click here</button></td>
      </tr>
      <tr>
        <td>dd/mm/yyyy</td>
        <td>Subject 3</td>
        <td><button type="button" name="button">Click here</button></td>
      </tr>
      <tr>
        <td>dd/mm/yyyy</td>
        <td>Subject 4</td>
        <td><button type="button" name="button">Click here</button></td>
      </tr>
  </table>

</div>
    <%- include("partials/footer") -%>
