<%- include("partials/header") -%>
<div class="">
  <!-- Introduction to the portal, just a few lines -->
  <p>Welcome to the <b>Cognitive Exam Portal</b></p>
  <p></p>
</div>

<!-- 2 options in the middle of the page for take test and result -->
<div class="">
  <a href="/exam"><button type="button" name="button" class="btn btn-primary">Take test</button></a>
  <a  href="/result"><button type="button" name="button" class="btn btn-success">result</button></a>
</div>

<%- include("partials/footer") -%>
