<%- include("partials/header") -%>
<h1 class="title">Marks Screen(/*Subject Name*/)</h1>
<div class="date-table">
  <!-- table to display a particular subject question list with actual and obtained marks. -->
  <table style="width:100%">
      <thead>
          <th>
              <tr>
                  <td><b>Questions</b></td>
                  <td><b>Actual Marks</b></td>
                  <td><b>Obtained marks</b></td>
              </tr>
          </th>
      </thead>
      <tr>
        <td>Question 1</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Question 2</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Question 3</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Question 4</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Question 5</td>
        <td>-</td>
        <td>-</td>
      </tr>
  </table>
</div>
<div class="">
  <a href="/">back</a>
</div>
<%- include("partials/footer") -%>
