<%- include ("partials/header")-%>
<h1 class="title">Profile</h1>
<div class="title-text">
  <h4>Personal information :-</h4>
  <p>Name - XYZ</p>
  <p>Phone number - 1234567890</p>
  <p>Email - xyz@abc.com</p>
  <hr>
  <h4>University details :-</h4>
  <p>Uni. Name - </p>
  <p>Uni. Roll number - </p>
  <hr>
  <h4>College details :-</h4>
  <p>Coll. Name - </p>
  <p>Coll. Roll number - </p>
  <!-- <p>All the personal information about the user will be displayed here ....</p> -->
</div>
<%- include ("partials/footer")-%>
