<%- include ("partials/header")-%>
<h1 class="title">Reset Password</h1>
<div class="title-text">
  <form class="" action="index.html" method="post">
    <div>
			<label>Old password :-</label>
			<input type="text" class="fill" required>
		</div>

    <div>
			<label>New password :-</label>
			<input type="text" class="fill" required>
		</div>

    <div>
			<label>Confirm new password :-</label>
			<input type="text" class="fill" required>
		</div>

    <center>
      <div>
        <button type="button" name="button" class="change-post">Change</button>
      </div>
    </center>

  </form>
</div>
<%- include ("partials/footer")-%>
