<%- include("partials/header") -%>
<h1 class="title">Result</h1>
<div class="date-table">
  <!-- <p>Different files for marks of subjects to be displayed with the status of student as pass/ failed.</p> -->
  <table style="width:100%">
      <thead>
          <th>
              <tr>
                  <td><b>Student Details</b></td>
                  <td><b>Subject Result</b></td>
              </tr>
          </th>
      </thead>
      <tr>
        <td>Subject 1</td>
        <td><button type="button" name="button" style="text-decoration: none;"><a href="/exam/test">Result</a></button></td>
      </tr>
      <tr>
        <td>Subject 2</td>
        <td><button type="button" name="button">Result</button></td>
      </tr>
      <tr>
        <td>Subject 3</td>
        <td><button type="button" name="button">Result</button></td>
      </tr>
      <tr>
        <td>Subject 4</td>
        <td><button type="button" name="button">Result</button></td>
      </tr>
  </table>

</div>
<%- include("partials/footer") -%>
