<%- include("partials/header1") -%>
<!-- <h1>Teacher's UI</h1> -->
<div class="main-heading">
  <!-- Introduction to the portal, just a few lines -->
  <h1>Welcome to the Teacher's side of <b>Cognitive Exam Portal.</b></h1>
  <p></p>
</div>

<!-- 2 options in the middle of the page for taking teachers to add question in db and "result"to manage it -->
<div class="exam-result">
  <a href="/teacher/question-paper"><button type="button" name="button" class="btn btn-primary">Exam</button></a>
  <br>
  <a  href="/result"><button type="button" name="button" class="btn btn-success">result</button></a>
</div>

<a href="/homescreen">Back</a>
<%- include("partials/footer") -%>
