<%- include("partials/header") -%>
<!-- <h1>Test Sreen</h1> -->
<link rel="stylesheet" href="/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
  // creating an array and passing the number, questions, options, and answers
  let questions = [
      {
      numb: 1,
      question: "What does HTML stand for?",
      answer: "Hyper Text Markup Language",
      options: [
        "Hyper Text Preprocessor",
        "Hyper Text Markup Language",
        "Hyper Text Multiple Language",
        "Hyper Tool Multi Language"
      ]
    },
      {
      numb: 2,
      question: "What does CSS stand for?",
      answer: "Cascading Style Sheet",
      options: [
        "Common Style Sheet",
        "Colorful Style Sheet",
        "Computer Style Sheet",
        "Cascading Style Sheet"
      ]
    },
      {
      numb: 3,
      question: "What does JS stand for?",
      answer: "JavaScript",
      options: [
        "Java Language",
        "Java Programming",
        "JavaScript",
        "JSON"
      ]
    },
      {
      numb: 4,
      question: "What does SQL stand for?",
      answer: "Structured Query Language",
      options: [
        "Stylish Question Language",
        "Stylesheet Query Language",
        "Statement Question Language",
        "Structured Query Language"
      ]
    },
      {
      numb: 5,
      question: "What does DOM stand for?",
      answer: "Document Object Model",
      options: [
        "Document Model",
        "Document Off Model",
        "Document Object Model",
        "Document On Model"
      ]
    },
    // if wanted to add more questions, then do it in same pattern as above are.
  ];

  const start_btn = document.querySelector(".start_btn button");
  const info_box = document.querySelector(".info_box");
  const exit_btn = info_box.querySelector(".buttons .quit");
  const continue_btn = info_box.querySelector(".buttons .restart");
  const quiz_box = document.querySelector(".quiz_box");
  const result_box = document.querySelector(".result_box");
  const option_list = document.querySelector(".option_list");
  const timeText = document.querySelector(".timer .time_left_txt");
  const timeCount = document.querySelector(".timer .timer_sec");
  const next_btn = document.querySelector("footer .next_btn");
  const bottom_ques_counter = document.querySelector("footer .total_que");
  let timeValue =  60;
  let que_count = 0;
  let que_numb = 1;
  let userScore = 0;
  let counter;
  let counterLine;
  let widthValue = 0;
  const restart_quiz = result_box.querySelector(".buttons .restart");
  const quit_quiz = result_box.querySelector(".buttons .quit");

  //start test button
  function StartTest(){
      document.getElementById("info_box").classList.add("activeInfo"); //show info box
  }

  // exit test button
  function ExitClicked(){
      document.getElementById("info_box").classList.remove("activeInfo"); //hide info box
  }

  // continue test button
  function ContinueTest(){
      document.querySelector(".info_box").classList.remove("activeInfo"); //hide info box
      document.querySelector(".quiz_box").classList.add("activeQuiz"); //show test box
      showQuetions(0); //calling showQestions function
      queCounter(1); //passing 1 parameter to queCounter
      startTimer(60); //calling startTimer function
      startTimerLine(0); //calling startTimerLine function
  }

  //quit test button
  function QuitTest(){
      window.location.reload(); //reload the current window
  }

  //functions used
  function showQuetions(index){
      const que_text = document.querySelector(".que_text");

      //creating a new span and div tag for question and option and passing the value using array index
      let que_tag = '<span>'+ questions[index].numb + ". " + questions[index].question +'</span>';
      let option_tag = '<div class="option"><span>'+ questions[index].options[0] +'</span></div>'
      + '<div class="option"><span>'+ questions[index].options[1] +'</span></div>'
      + '<div class="option"><span>'+ questions[index].options[2] +'</span></div>'
      + '<div class="option"><span>'+ questions[index].options[3] +'</span></div>';
      que_text.innerHTML = que_tag; //adding new span tag inside que_tag
      option_list.innerHTML = option_tag; //adding new div tag inside option_tag

      const option = option_list.querySelectorAll(".option");

      // set onclick attribute to all available options
      for(i=0; i < option.length; i++){
          option[i].setAttribute("onclick", "optionSelected(this)");
      }
  }
  // creating the new div tags which for icons
  let tickIconTag = '<div class="icon tick"><i class="fas fa-check"></i></div>';
  let crossIconTag = '<div class="icon cross"><i class="fas fa-times"></i></div>';

  //if clicked on option
  function optionSelected(answer){
      clearInterval(counter); //clear counter
      clearInterval(counterLine); //clear counterLine
      let userAns = answer.textContent; //getting user selected option
      let correcAns = questions[que_count].answer; //getting correct answer from array
      const allOptions = option_list.children.length; //getting all option items

      if(userAns == correcAns){ //if selected option is equal to array's correct answer
          userScore += 1; //upgrading score value with 1
          answer.classList.add("correct"); //adding green color to correct selected option
          answer.insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to correct selected option
          console.log("Correct Answer");
          console.log("Your correct answers = " + userScore);
      }else{
          answer.classList.add("incorrect"); //adding red color to correct selected option
          answer.insertAdjacentHTML("beforeend", crossIconTag); //adding cross icon to correct selected option
          console.log("Wrong Answer");

          for(i=0; i < allOptions; i++){
              if(option_list.children[i].textContent == correcAns){ //if there is an option which is matched to an array answer
                  option_list.children[i].setAttribute("class", "option correct"); //adding green color to matched option
                  option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to matched option
                  console.log("Auto selected correct answer.");
              }
          }
      }
      for(i=0; i < allOptions; i++){
          option_list.children[i].classList.add("disabled"); //once selected an option then disabled all options
      }
      next_btn.classList.add("show"); //show the next button if selected any option
  }

  function showResult(){
      info_box.classList.remove("activeInfo"); //hide info box
      quiz_box.classList.remove("activeQuiz"); //hide test box
      result_box.classList.add("activeResult"); //show result box
      const scoreText = result_box.querySelector(".score_text");
      if (userScore > 3){ // if scored more than 3
          let scoreTag = '<span>congrats! Your score is <p>'+ userScore +'</p> out of <p>'+ questions.length +'</p></span>';
          scoreText.innerHTML = scoreTag;
      }
      else if(userScore > 1){ // if scored more than 1
          let scoreTag = '<span>nice, Your score is <p>'+ userScore +'</p> out of <p>'+ questions.length +'</p></span>';
          scoreText.innerHTML = scoreTag;
      }
      else{ // if scored less than 1
          let scoreTag = '<span>sorry, Your score is only <p>'+ userScore +'</p> out of <p>'+ questions.length +'</p></span>';
          scoreText.innerHTML = scoreTag;
      }
  }

  function startTimer(time){
      counter = setInterval(timer, 1000);
      function timer(){
          timeCount.textContent = time; //changing the value of timeCount with time value
          time--; //decrement the time value
          if(time < 9){ //if timer is less than 9
              let addZero = timeCount.textContent;
              timeCount.textContent = "0" + addZero; //add a 0 before time value
          }
          if(time < 0){ //if timer is less than 0
              clearInterval(counter); //clear counter
              timeText.textContent = "Time Off"; //change the time text to time off
              const allOptions = option_list.children.length; //getting all option items
              let correcAns = questions[que_count].answer; //getting correct answer from array
              for(i=0; i < allOptions; i++){
                  if(option_list.children[i].textContent == correcAns){ //if there is an option which is matched to an array answer
                      option_list.children[i].setAttribute("class", "option correct"); //adding green color to matched option
                      option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to matched option
                      console.log("Time Off: Auto selected correct answer.");
                  }
              }
              for(i=0; i < allOptions; i++){
                  option_list.children[i].classList.add("disabled"); //once selected an option then disabled all options
              }
              next_btn.classList.add("show"); //show the next button if user selected any option
          }
      }
  }

  function queCounter(index){
      //creating a new span tag and passing the question number and total question
      let totalQueCounTag = '<span><p>'+ index +'</p> of <p>'+ questions.length +'</p> Questions</span>';
      bottom_ques_counter.innerHTML = totalQueCounTag;  //adding new span tag inside bottom_ques_counter
  }

</script>
<div class="start_btn" onclick="StartTest()"><button>Start test</button></div>

<!-- Info Box -->
<div id="info_box" class="info_box">
    <div class="info-title"><span>Some Rules for the test</span></div>
    <div class="info-list">
        <div class="info">1. You will have only <span>5 minutes</span> for test means <span>1 minute</span> per question.</div>
        <div class="info">2. Once you select your answer, it can't be undone.</div>
        <div class="info">3. You can't select any option once time goes off.</div>
        <div class="info">4. You can't exit from the test while you're giving test.</div>
        <div class="info">5. You'll get marks on the basis of your correct answers.</div>
    </div>
    <div class="buttons">
        <button class="quit" onclick="ExitClicked()">Exit test</button>
        <button class="restart" onclick="ContinueTest()">Continue</button>
    </div>
</div>

<!-- test Box -->
<div class="quiz_box">
    <header>
        <div class="title">subject</div>
        <div class="timer">
            <div class="time_left_txt">Time Left</div>
            <div class="timer_sec">60</div>
        </div>

    </header>
    <section>
        <div class="que_text">
            <!-- Here inserted question from JavaScript -->
        </div>
        <div class="option_list">
            <!-- Here inserted options from JavaScript -->
        </div>
    </section>

    <!-- footer of test Box -->
    <footer>
        <div class="total_que">
            <!-- Here inserted Question Count Number from JavaScript -->
        </div>
        <button class="next_btn">Next Que</button>
    </footer>
</div>

<!-- Result Box -->
<div class="result_box">
    <div class="icon">
        <i class="fas fa-crown"></i>
    </div>
    <div class="complete_text">
      <p>You've completed the test!</p>
      <p> Thank You.</p>
    </div>
    <div class="score_text">
        <!-- Here inserted Score Result from JavaScript -->
    </div>
    <div class="buttons">
        <button class="restart">Replay test</button>
        <button class="quit" onclick="QuitTest()">Quit test</button>
    </div>
</div>

<%- include("partials/footer") -%>
