<%- include("partials/header") -%>
<!-- <h1 class="title">Test Screen</h1> -->
<div class="test-text">

  <h2>Subject-Name</h2>
  <div class="outer">

    <div class="insider1">
      <div class="">

        <p>Questions</p>
        <div class="">
          <p>Marks</p>
        </div>
        <div class="">
          <p>Answers</p>
        </div>
        <div class="">
          <button type="button" name="button">Mark & Review</button>
          <button type="button" name="button">Save</button>
        </div>

      </div>
    </div>

    <div class="insider2">
      <p>hello</p>
      <div class="">
        <p>Question list</p>
      </div>
      <div class="">
        <button type="button" name="button">Submit</button>
      </div>
    </div>

  </div>

</div>
<a href="/exam/thank">here to thanks page</a>
<%- include("partials/footer") -%>
