<%- include("partials/header") -%>
<!-- <h1>Test Sreen</h1> -->
<link rel="stylesheet" href="../css/style.css">
<style>
  footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
</style>
<script src="https://kit.fontawesome.com/db5b84bf13.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
  // creating an array and passing the number, questions, options, and answers
  let questions = [{
      numb: 1,
      question: "What does HTML stand for?",
      answer: "Hyper Text Markup Language",
      options: [
        "Hyper Text Preprocessor",
        "Hyper Text Markup Language",
        "Hyper Text Multiple Language",
        "Hyper Tool Multi Language"
      ]
    },
    {
      numb: 2,
      question: "What does CSS stand for?",
      answer: "Cascading Style Sheet",
      options: [
        "Common Style Sheet",
        "Colorful Style Sheet",
        "Computer Style Sheet",
        "Cascading Style Sheet"
      ]
    },
    {
      numb: 3,
      question: "What does JS stand for?",
      answer: "JavaScript",
      options: [
        "Java Language",
        "Java Programming",
        "JavaScript",
        "JSON"
      ]
    },
    {
      numb: 4,
      question: "What does SQL stand for?",
      answer: "Structured Query Language",
      options: [
        "Stylish Question Language",
        "Stylesheet Query Language",
        "Statement Question Language",
        "Structured Query Language"
      ]
    },
    // {
    //   numb: 5,
    //   question: "What does DOM stand for?",
    //   answer: "Document Object Model",
    //   options: [
    //     "Document Model",
    //     "Document Off Model",
    //     "Document Object Model",
    //     "Document On Model"
    //   ]
    // },
    {
      numb: 5,
      question: "Numbers ",
      answer: "4",
      options: [
        "1",
        "2",
        "3",
        "4"
      ]
    },
    // if wanted to add more questions, then do it in same pattern as above are.
  ];


  //selecting all required elements
  const start_btn =$(".start_btn button");
  const info_box =$(".info_box");
  const exit_btn = $(".info_box .button .quit");
  const continue_btn = $(".info_box .button .restart");
  const quiz_box = $(".quiz_box");
  const result_box =$(".result_box");
  const option_list =$(".option_list");
  const timeText = $(".timer .time_left_txt");
  const timeCount = $(".timer .timer_sec");
  let timeValue = 60;
  let que_numb = 1;
  let userScore = 0;
  let counter;
  let counterLine;
  let que_count = 0;

  const restart_quiz = $(".result_box .buttons .restart");
  const quit_quiz = $(".result_box .buttons .quit");
  const next_btn = $("footer .next_btn");
  const bottom_ques_counter = $("footer .total_que");

  //start test button
  function StartTest() {
    document.getElementById("info_box").classList.add("activeInfo"); //show info box
  }

  // exit test button
  function ExitClicked() {
    document.getElementById("info_box").classList.remove("activeInfo"); //hide info box
  }

  // continue test button
  function ContinueTest() {
    document.querySelector(".info_box").classList.remove("activeInfo"); //hide info box
    document.querySelector(".quiz_box").classList.add("activeQuiz"); //show test box
    showQuetions(0); //calling showQestions function
    queCounter(1); //passing 1 parameter to queCounter
    startTimer(60); //calling startTimer function
  }

  // if quit test button clicked
  function QuitTest() {
    window.location.reload(); //reload the current window
  }



  // if Next Que button clicked
  function nextQuesButton() {
    if (que_count < 4) { //if question count is less than total question length
      que_count++; //increment the que_count value
      que_numb++; //increment the que_numb value
      showQuetions(que_count); //calling showQestions function
      queCounter(que_numb); //passing que_numb value to queCounter
      clearInterval(counter); //clear counter
      startTimer(timeValue); //calling startTimer function
      timeText.text("Time Left"); //change the timeText to Time Left
      next_btn.removeClass("show"); //hide the next button
    } else {
      clearInterval(counter); //clear counter
      showResult(); //calling showResult function
    }
  }

  // getting questions and options from array
  function showQuetions(index) {
    const que_text = document.querySelector(".que_text");
    const option_list = document.querySelector(".option_list");
    //creating a new span and div tag for question and option and passing the value using array index
    let que_tag = '<span>' + questions[index].numb + ". " + questions[index].question + '</span>';
    let option_tag = '<div class="option"><span>' + questions[index].options[0] + '</span></div>' +
      '<div class="option"><span>' + questions[index].options[1] + '</span></div>' +
      '<div class="option"><span>' + questions[index].options[2] + '</span></div>' +
      '<div class="option"><span>' + questions[index].options[3] + '</span></div>';
    que_text.innerHTML = que_tag; //adding new span tag inside que_tag
    option_list.innerHTML = option_tag; //adding new div tag inside option_tag

    const option = $(".option");

    // set onclick attribute to all available options
    for (i = 0; i < option.length; i++) {
      // option[i].attr("onclick", "optionSelected(this)");
      $(".option").attr("onclick", "optionSelected(this)");
    }
  }
  //if clicked on option
  function optionSelected(answer) {
    // clearInterval(counter); //clear counter
    let userAns = answer.textContent; //getting user selected option
    console.log(userAns);
    let correcAns = questions[que_count].answer; //getting correct answer from array
    console.log(correcAns);
    const option_list = document.querySelector(".option_list");
    const allOptions = option_list.children.length; //getting all option items

    // let tickIconTag = '<div class="icon tick"><i class="fas fa-check"></i></div>';
    // let crossIconTag = '<div class="icon cross"><i class="fas fa-times"></i></div>';

    if (userAns == correcAns) { //if selected option is equal to array's correct answer
      userScore += 1; //upgrading score value with 1
      answer.classList.add("correct"); //adding green color to correct selected option
      // answer.insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to correct selected option
      console.log("Correct Answer");
      console.log("Your correct answers = " + userScore);
    } else {
      answer.classList.add("incorrect"); //adding red color to correct selected option
      // answer.insertAdjacentHTML("beforeend", crossIconTag); //adding cross icon to correct selected option
      console.log("Wrong Answer");

      for (i = 0; i < allOptions; i++) {
        if (option_list.children[i].textContent == correcAns) { //if there is an option which is matched to an array answer
          option_list.children[i].setAttribute("class", "option correct"); //adding green color to matched option
          // option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to matched option
          console.log("Auto selected correct answer.");
        }
      }
    }
    for (i = 0; i < allOptions; i++) {
      option_list.children[i].classList.add("disabled"); //once selected an option then disabled all options
    }
    $(".next_btn").addClass("show");//show the next button if selected any option
  }

  function showResult() {
    console.log("Result-time");
    $(".info_box").removeClass("activeInfo"); //hide info box
    $(".quiz_box").removeClass("activeQuiz"); //hide test box
    $(".result_box").addClass("activeResult"); //show result box
    const scoreText = $(".result_box .score_text");
    if (userScore > 3) { // if scored more than 3
      let scoreTag = '<span>congrats! Your score is <p>' + userScore + '</p> out of <p>' + questions.length + '</p></span>';
      scoreText.append(scoreTag);
    } else if (userScore > 1) { // if scored more than 1
      let scoreTag = '<span>nice, Your score is <p>' + userScore + '</p> out of <p>' + questions.length + '</p></span>';
      scoreText.append(scoreTag);
    } else { // if scored less than 1
      let scoreTag = '<span>sorry, Your score is only <p>' + userScore + '</p> out of <p>' + questions.length + '</p></span>';
      scoreText.append(scoreTag);
    }
  }

  function startTimer(time) {
    const timeCount = $(".timer_sec");
    let counter = setInterval(timer, 1000);

    function timer(time) {
      $(".timer_sec").text(time); //changing the value of timeCount with time value
      time--; //decrement the time value
      if (time < 9) { //if timer is less than 9
        let addZero = time;
        timeCount.text("0" + addZero); //add a 0 before time value
      }
      if (time < 0) { //if timer is less than 0
        clearInterval(counter); //clear counter
        timeText.textContent = "Time Off"; //change the time text to time off
        const allOptions = option_list.children.length; //getting all option items
        let correcAns = questions[que_count].answer; //getting correct answer from array
        for (i = 0; i < allOptions; i++) {
          if (option_list.children[i].textContent == correcAns) { //if there is an option which is matched to an array answer
            option_list.children[i].setAttribute("class", "option correct"); //adding green color to matched option
            // option_list.children[i].insertAdjacentHTML("beforeend", tickIconTag); //adding tick icon to matched option
            console.log("Time Off: Auto selected correct answer.");
          }
        }
        for (i = 0; i < allOptions; i++) {
          option_list.children[i].classList.add("disabled"); //once selected an option then disabled all options
        }
        $(".next_btn").addClass("show"); //show the next button if user selected any option
      }
    }
  }

  function queCounter(index) {
    $(".total_que").append(index+", ");
  }
</script>



<!-- start Quiz button -->
<div class="start_btn" onclick="StartTest()"><button>Start test</button></div>

<!-- Info Box -->
<div id="info_box" class="info_box">
  <div class="info-title"><span>Some Rules for the test</span></div>
  <div class="info-list">
    <div class="info">1. You will have only <span>5 minutes</span> for test means <span>1 minute</span> per question.</div>
    <div class="info">2. Once you select your answer, it can't be undone.</div>
    <div class="info">3. You can't select any option once time goes off.</div>
    <div class="info">4. You can't exit from the test while you're giving test.</div>
    <div class="info">5. You'll get marks on the basis of your correct answers.</div>
  </div>
  <div class="buttons">
    <button class="quit" onclick="ExitClicked()">Exit test</button>
    <button class="restart" onclick="ContinueTest()">Continue</button>
  </div>
</div>

<!-- test Box -->
<div class="quiz_box">
  <header>
    <div class="title" style="text-align:center;padding: initial;">Web Technology</div>
    <!-- <div class="timer">
      <div class="time_left_txt">Time Left</div>
      <div class="timer_sec">60</div>
    </div> -->

  </header>
  <section>
    <div class="que_text">
      <!-- Here inserted question from JavaScript -->
    </div>
    <div class="option_list">
      <!-- Here inserted options from JavaScript -->
    </div>
  </section>

  <!-- footer of test Box -->
  <footer>
    <div class="total_que">
      <!-- Here inserted Question Count Number from JavaScript -->
    </div>
    <button class="next_btn" onclick="nextQuesButton()">Next Que</button>
  </footer>
</div>

<!-- Result Box -->
<div class="result_box">
  <div class="icon">
    <i class="fa-solid fa-pen-line"></i>
  </div>
  <div class="complete_text">
    <p>You've completed the test!</p>
    <p> Thank You.</p>
  </div>
  <div class="score_text">
    <!-- Here inserted Score Result from JavaScript -->
  </div>
  <div class="buttons">
    <!-- <button class="restart" onclick="restartTest()">Replay test</button> -->
    <button class="quit" onclick="QuitTest()">Quit test</button>
  </div>
</div>

<%- include("partials/footer") -%>
