<%- include("partials/header") -%>
<div class="thanks-text">
  <h1>Thank You</h1>
  <h3>for taking your exam with us.</h3>
  <p>Check your marks here</p>
  <button type="button" name="button" class="btn"><a href="/result">Score</a></button>
</div>
<%- include("partials/footer") -%>
