html {
  min-height: 100%;
  position: relative;
}

h4{
  color: #60BE92;
  margin:0px;
  padding:0px;
}

.title{
  margin: 5% 5% 1% 5%;
  padding: 3% 0% 0% 3%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-header{
  position: fixed;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

td {
  border:solid #b1b1b8a1;
  background-color: #f5f5f5c7;
  text-align:center;
  font-size: 20px;
}

thead td{
  font-size: 25px;
  color: #1abc9c;
}

#sidebar{
  position: fixed;
  width: 15%;
  height: 100%;
  left:-20%;
  background-color:#f8f8f8cc;
}

#sidebar a {
  color: #CB6CE6;
  font-size: 12px
}

#sidebar a:hover {
  color: #1abc9c;
  text-decoration: none;
}

#sidebar li {
  font-size: 22px;
  padding: 27px;
  border-bottom: 5px solid #BDB7B7;
  text-align: center;
}

#toggle-btn{
  position: fixed;
  left: 50px;
  top: 20px;
}

#toggle-btn span{
  display: block;
  background-color: #000;
  width:40px;
  height: 4px;
  margin: 5px;
}

#sidebar.active{
  left:0px;
}

#options{
  margin-top: 150px;
  border-top: 5px solid #BDB7B7;
  position: absolute;
}
#options li{
  margin: 1px;
  padding: 28px
}

*{
  padding:0;
  margin:0;
}

.main-heading{
  margin: 10% 10% 5%;
  padding-left: 9%;
}

.exam-result{
  margin: 2%;
  padding:0% 6% 4%;
  text-align: center;
}

.btn {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  color: #ffffff;
  font-size: 24px;
  padding: 16px 32px;
  text-decoration: none;
  margin:1%;
  padding:2%;
}

.btn:hover {
  text-decoration: none;
}

.msg{
  margin: 2% 10% 0%;
  padding: 0% 10% ;
  text-align: center;
}

.title-text{
  margin: 0% 5%;
  padding: 3%;
  text-align: justify;
  line-height: 2.0;
  border: 2px solid #b1b1b8a1;
  background-color: #f5f5f5c7;
}

.fill{
	display:block;
	border-radius: 2px;
	border-color: #001;
	width: 100%;
	height:35px;
	padding:5px;
}

label{
  color: #1abc9c;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1px;
  font-weight: 800;
  padding-top: 5px;
  font-size: 20px;
}

button{
  margin: 2% 0%;
}

textarea{
	width:100%;
	height:100px;
}

.change-post{
  font-size: 20px;
  background: #60BE92;
  padding: 12px 22px 12px 22px;
  text-decoration: none;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  text-align: center;
}

.change-post:hover{
  background: #60BECC;
  text-decoration: none;
}

.date-table{
  margin : 1%;
  padding: 2% 7%;
}
